 @charset "utf-8";
/*========================================================================================================================
												navbar after logging
===========================================================================================================================*/

body{
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷", "文鼎粗行楷";
}

div.fix-navbar-top{
	padding:0px;
}

nav.navbar{
	background-color:rgba(0,0,0,0.7);
	border:none;
	color:#FFF;
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷", "文鼎粗行楷";
	padding-left:3%;
	font-size:20px;
}

div.navbar-left i{
	color:#FFF;
}

div.navbar-header div.form-group input.form-control[type=search]{
	border:none;
	background-color:rgba(0,0,0,0);
	width:20vw;
	padding-left:0px;
	font-size:16px;
	color:#FFF;
}

div.navbar-header div.form-group input.form-control[type=search]:focus{
	border: none;
	box-shadow: none;
}

a.navbar-brand{
	color:#FFF;
}

ul.navbar-right{
	font-size:20px;
	margin-right:5%;
}


/*a.dropdown-toggle.btn.nabar-list{
	border-right:1px solid #CCC;
	border-radius:0%;
}

a.dropdown-toggle.btn.nabar-list-system-notice{
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	border-radius:0%;
}*/


	

/*登入大頭照*/
img.profile{
	border-radius:50%;
	width:20px;
	height:20px;
	border:1px solid #FFF;
}

/*navbar-list-content*/
span.space{
	padding-right:10vw;
}


/*navbar list by hover*/
li.navbar-list-system-notice:hover .navbar-list-system-notice-content{
	display:block;
}

li.navbar-list-share-trip:hover  .navbar-list-share-trip-content{
	display:block;
}

li.navbar-list-personal-photo:hover .navbar-list-personal-photo-content{
	display:block;
}





