 @charset "utf-8";
/* CSS Document */

/*==============================================================================================================
													navigation bar
=================================================================================================================*/

body{
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷", "文鼎粗行楷";
}

div.fix-navbar-top{
	padding:0px;
}

nav.navbar{
	background-color:rgba(0,0,0,0.7);
	border:none;
	color:#F00;
	font-family:'華康粗圓體', '微軟正黑體', '超研澤中鋼筆行楷', '文鼎粗行楷';
	padding-left:3%;
	font-size:20px;
	width:100%;

}

div.navbar-left i{
	color:#FFF;
}

div.navbar-header div.form-group input.form-control[type=search]{
	border:none;
	background-color:rgba(0,0,0,0);
	width:50vw;
	padding-left:0px;
	font-size:16px;
	color:#FFF;
}

div.navbar-header div.form-group input.form-control[type=search]:focus{
	border: none;
	box-shadow: none;
}

a.navbar-brand{
	color:#FFF;
}

ul.navbar-right{
	font-size:20px;
	margin-right:5%;
}

a.btn.navbar-list{
	border-right:1.5px solid #CCC;
	border-left:1.5px solid #CCC;
	border-radius:0%;
}

/*span.be-share{
	border-right:1px solid #CCC;
	border-left:1px solid #CCC;
	padding:8px 10px 8px 10px;
}*/


li.navbar-list-share:hover .dropdown-menu.navbar-list-content{
	display:block;	
}


a#modal-87912{
	outline:none;
}
/*Alert Box for SignIn*/
div.modal-dialog{
	text-align:center;
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷";
}

div.modal-body img{
	height:10vh;
}

div.checkbox{
	text-align:center;
}

div.modal-footer button:active{
	outline: none;
	border: none;	
}

/* 快速註冊下拉選單的部分 */
button.signin-button{
	float:left;
}

div.panel-heading-id a{
	float:right;
}

div.panel-body-id{
	margin-top:5vw;
}


/***********************************************************************************************************************
													close for navigation bar
*************************************************************************************************************************/






