 @charset "utf-8";
/*========================================================================================================================
												navbar after logging
===========================================================================================================================*/

body{
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷", "文鼎粗行楷";
}

div.fix-navbar-top{
	padding:0px;
}

nav.navbar{
	background-color:rgba(0,0,0,0.7);
	border:none;
	color:#FFF;
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷", "文鼎粗行楷";
	padding-left:3%;
	font-size:20px;
}

div.navbar-left i{
	color:#FFF;
}

div.navbar-header div.form-group input.form-control[type=search]{
	border:none;
	background-color:rgba(0,0,0,0);
	width:20vw;
	padding-left:0px;
	font-size:16px;
	color:#FFF;
}

div.navbar-header div.form-group input.form-control[type=search]:focus{
	border: none;
	box-shadow: none;
}

a.navbar-brand{
	color:#FFF;
}

ul.navbar-right{
	font-size:20px;
	margin-right:5%;
}


/*登入大頭照*/
img.profile{
	border-radius:50%;
	width:20px;
	height:20px;
	border:1px solid #FFF;
}

/*navbar-list-content*/
span.space{
	padding-right:10vw;
}


/*navbar list by hover*/
li.navbar-list-system-notice:hover .navbar-list-system-notice-content{
	display:block;
}

li.navbar-list-share-trip:hover  .navbar-list-share-trip-content{
	display:block;
}

li.navbar-list-personal-photo:hover .navbar-list-personal-photo-content{
	display:block;
}

/*==========================================================================================================================
														會員資料頁面
===========================================================================================================================*/

/*navbar-bottom-list(nav下方bar)*/

div.NavbarBottom{
	margin-top:8vh;
	background-color:#3cdbc0;
	height:8vh;
}

div.NavbarBottomList{
	border:none;
	height:8vh;
	background-color:#3cdbc0;
}

#m-p-share,#m-p-Journey,#m-p-PersonalSheet,#m-p-Account,#m-p-TravelFund{
	margin-left:1vw;
}

div.NavbarBottomListCotent a{
	color:#999;
	padding-bottom:1vw;
}

div.NavbarBottomListCotent a:hover{
	border-bottom:2px solid red;
	text-decoration:none;
	color:#333;
}

div.NavbarBottomListCotent a:focus{
	text-decoration:none;
}

div.active.NavbarBottomListCotent a,
div.active.NavbarBottomListCotent a:hover,
div.active.NavbarBottomListCotent a:focus{
	border-bottom:2px solid red;
	color:#000;
}



/*inbox content list(通知/體驗/訊息切換)*/

div.row.InboxContent{
	background-color:#fffcf3;
}

div.inbox-content-list{
	margin-top:8vh;
}

div.inbox-content-content{
	border:1px solid #CCC;
	height:60vh;
	margin-top:1vh;
}
ul.inbox-list.nav{
	border:none;
}

li.inbox-list-name a{
	border-top:none !important;
	border-left:none !important;
	border-right:none !important;
	color:#999;
}

li.inbox-list-name a:hover{ 
	border-bottom:2px solid #3cdbc0 !important;
	background:#fffcf3 !important;
	color:#333;
}

li.active.inbox-list-name a,
li.active.inbox-list-name a:hover
li.active.inbox-list-name a:focus{
	 border-bottom:2px solid #3cdbc0 !important;
	 background:#fffcf3 !important;
}


/*inbox cotent notice*/
div.tab-content.inbox-content-content{
	background-color:#FFF;
}

div.inbox-content-content-notice{
	padding-top:17vh;
	text-align:center;
}

div.inbox-content-content-message{
	padding-top:17vh;
	text-align:center;
}

div.inbox-content-content-experience{
	padding-top:17vh;
	text-align:center;
}

/*訊息 dropdown menu*/

ul li.DropdownMenuForMessage{
	float:right;
}

ul li.DropdownMenuForExpMessage{
	float:right;
}

ul li.DropdownMenuForMessage,
ul li.DropdownMenuForExpMessage{
	display:none;
}









/*==============================================================================================================
													foooter
=================================================================================================================*/
div.footerlist-all{
	margin-top:2vw;
}

div.footerlist-all li{
	list-style:none;
}

div.footerlist{
	background-color:#666;
	color:#FFF;
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷", "文鼎粗行楷";
	padding:1%;
	padding-left:10%;
	padding-right:10%;
}

div.footerlist a{
	text-decoration:none;
	color:#CCC;
}

input#exampleInputEmail1[type=email]{
	border-radius:0;
}
/* socialsoftware */
div.socialsoftware{
	text-align:center;
	font-size:24px;
	background-color:#333;
	color:#FFF;
	font-family:"華康粗圓體", "微軟正黑體", "超研澤中鋼筆行楷", "文鼎粗行楷";
	padding-bottom:2.5vh;
}


div.company p{
	color:#666;
	margin-top:2.5vh;
	font-size:16px;
}

/*icon design*/

div.socialsoftware-icon a{
	display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #909090;
    border-radius: 50px;
}

div.socialsoftware-icon a i{
    font-size: 15px;
    color:#FFF;
}

div.socialsoftware-icon a i:hover{
	color:#999;
}
